.App {
  display: flex;
  justify-content: center;
  padding: 220px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

button {
  margin: 20px auto !important;
  width: 190px;
}

.msg {
  color:#dc004e;
}